In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
import datetime as dt
import matplotlib.pyplot as plt

In [8]:
df=pd.read_csv("/content/stock_data.csv")
df

              date        high  ...   adj_close               comp
0       03-03-2010  144.770004  ...  134.194473        Adani Ports
1       04-03-2010  144.330002  ...  134.260193        Adani Ports
2       05-03-2010  147.399994  ...  134.626404        Adani Ports
3       08-03-2010  147.300003  ...  137.743668        Adani Ports
4       09-03-2010  147.199997  ...  134.344665        Adani Ports
...            ...         ...  ...         ...                ...
121901  27-02-2020  254.800003  ...  244.350006  Zee Entertainment
121902  28-02-2020  244.649994  ...  239.300003  Zee Entertainment
121903  02-03-2020  248.949997  ...  233.850006  Zee Entertainment
121904  03-03-2020  255.949997  ...  251.100006  Zee Entertainment
121905  04-03-2020  254.449997  ...  251.750000  Zee Entertainment

[121906 rows x 8 columns]

In [0]:
company=df['comp'][0]
company
index={}
start=0
for i in range(len(df)):
  if company!=df['comp'][i]:
    index[company]=[start,i-1]
    company=df['comp'][i]
    start=i
index[company]=[start,i]

In [11]:
index

{'Adani Ports': [0, 2466],
 'Asian Paints Ltd': [2467, 4933],
 'Axis Bank': [4934, 7400],
 'BPCL': [18464, 20930],
 'Bajaj Auto': [7401, 9296],
 'Bajaj Finance': [9297, 11763],
 'Bajaj Finserv': [11764, 14229],
 'Bharti Airtel': [14230, 16696],
 'Bharti Infratel Ltd.': [16697, 18463],
 'Britannia Industries': [50363, 52829],
 'Cipla': [20931, 23397],
 'Coal India': [23398, 25692],
 'Dr Reddy Lab': [25693, 28159],
 'Eicher Motors': [28160, 30626],
 'GAIL': [30627, 33093],
 'Grasim Industries': [33094, 35560],
 'HCL Technologies': [35561, 38027],
 'HDFC': [38028, 40494],
 'HDFC Bank': [40495, 42961],
 'Hero MotoCorp': [42962, 45428],
 'Hindalco Industries': [45429, 47895],
 'Hindustan Unilever': [47896, 50362],
 'ICICI Bank': [52830, 55296],
 'IOC': [60231, 62697],
 'ITC Limited': [62698, 65164],
 'IndusInd Bank': [55297, 57763],
 'Infosys': [57764, 60230],
 'JSW Steel': [65165, 67631],
 'Kotak Mahindra Bank': [67632, 70098],
 'Larsen & Toubro': [70099, 72565],
 'Mahindra & Mahindra': [72566, 75032],
 'Maruti Suzuki': [75033, 77499],
 'NTPC Limited': [79967, 82433],
 'Nestle India Ltd': [77500, 79966],
 'ONGC': [82434, 84900],
 'PowerGrid Corporation of India': [84901, 87367],
 'Reliance Industries': [87368, 89834],
 'Shree Cement': [116972, 119438],
 'State Bank of India': [89835, 92301],
 'Sun Pharmaceutical': [92302, 94768],
 'Tata Consultancy Services': [94769, 97235],
 'Tata Motors': [97236, 99702],
 'Tata Steel': [99703, 102169],
 'Tech Mahindra': [102170, 104636],
 'Titan Company': [104637, 107103],
 'UltraTech Cement': [107104, 109570],
 'United Phosphorus Limited': [109571, 112037],
 'Vedanta': [112038, 114504],
 'Wipro': [114505, 116971],
 'Zee Entertainment': [119439, 121905]}

In [0]:
RSICSV=[]
for key,value in index.items():
  
  change=[]
  upwardChange=[]
  downwardChange=[]
  avgUpwardMovement=[]
  avgDownwardMovement=[]
  relativeStrength=[]
  RSI=[]
  start=value[0]
  end=value[1]
  
  change.append(0)
  for i in range(start+1,end+1):
    change.append(df['adj_close'][i]-df['adj_close'][i-1])
  # print(len(change))
  for i in range(0,len(change)):
    if(change[i]>=0):
      upwardChange.append(change[i])
      downwardChange.append(0)
    else:
      downwardChange.append(abs(change[i]))
      upwardChange.append(0)
  # print(len(upwardChange),len(downwardChange))
  loop=15
  up=0
  down=0
  avgUpwardMovement.append(0)
  avgDownwardMovement.append(0)
  for j in range(1,loop+1):
    up=0
    down=0
    for i in range(1,j):
      up+=upwardChange[i]/j
      down+=downwardChange[i]/j
    # up/=loop
    # down/=loop
    avgUpwardMovement.append(up)
    avgDownwardMovement.append(down) 
  # print(avgUpwardMovement)
  # cnt=loop
  for i in range(loop+1,len(upwardChange)):
    avgUpwardMovement.append((avgUpwardMovement[i-1]*(loop-1)+upwardChange[i])/loop)
    avgDownwardMovement.append((avgDownwardMovement[i-1]*(loop-1)+downwardChange[i])/loop)
    # cnt+=1
  # print(len(avgDownwardMovement), len(avgDownwardMovement))
  relativeStrength.append(0)
  for i in range(1,len(avgUpwardMovement)):
    # print(i)
    if(avgDownwardMovement[i]!=0):
      relativeStrength.append(avgUpwardMovement[i]/avgDownwardMovement[i])
    else:
      relativeStrength.append(0)
  # print(len(relativeStrength))

  for i in range(len(relativeStrength)):
    RSI.append(100-(100/(relativeStrength[i]+1)))

  for i in range(len(RSI)):
      RSICSV.append(RSI[i])

In [0]:
from csv import writer
from csv import reader
with open('/content/stock_data.csv', 'r') as read_obj, \
        open('/content/stock_data_rsi.csv', 'w', newline='') as write_obj:
    csv_reader = reader(read_obj)
    csv_writer = writer(write_obj)
    cnt=0
    for row in csv_reader:
        if cnt==0:
          row.append('RSI')
        else:
          row.append(RSICSV[cnt-1])
        cnt+=1
        csv_writer.writerow(row)

The file stock_data_rsi.csv will contain RSI values for each day with lookback period=15 days

In [17]:
df=pd.read_csv("/content/stock_data_rsi.csv")
df

              date        high  ...               comp        RSI
0       03-03-2010  144.770004  ...        Adani Ports   0.000000
1       04-03-2010  144.330002  ...        Adani Ports   0.000000
2       05-03-2010  147.399994  ...        Adani Ports   0.000000
3       08-03-2010  147.300003  ...        Adani Ports   0.000000
4       09-03-2010  147.199997  ...        Adani Ports   0.000000
...            ...         ...  ...                ...        ...
121901  27-02-2020  254.800003  ...  Zee Entertainment  44.343790
121902  28-02-2020  244.649994  ...  Zee Entertainment  41.930934
121903  02-03-2020  248.949997  ...  Zee Entertainment  39.448933
121904  03-03-2020  255.949997  ...  Zee Entertainment  49.571670
121905  04-03-2020  254.449997  ...  Zee Entertainment  49.909745

[121906 rows x 9 columns]